/* css styles */

h1, h2, h3, h4 {
  font-family: "Times New Roman", Times, serif
}

body {
  margin-left: 1em;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: black;
  background-color: white;
  padding: 6pt;
  max-width: 250ch;
}

p {
  text-indent: 1em;
}


/* Styles pour les sorties de cellules */
.cell-output {
background-color: transparent;
border-radius: 4px;
font-size: 12px; 
}

/* Styles pour les sorties standard de cellules */
.cell-output-stdout {
background-color: transparent;
border-radius: 4px;
font-size: 12px; 
}

/* Police du code */
.sourceCode {
font-size: 12px; 
}

.blockquote {
  margin-left: 2em;
  background-color: transparent;
  color: black
}
